<div id="question-option-{{id}}" class="form-group" style="display: none;">
    <label for="question-option-text-{{id}}">Option {{id}} Text</label>
    <textarea name="question-option-text-{{id}}" id="question-option-text-{{id}}" rows="3" class="form-control option" required></textarea>
</div>