{{#if preview}}
    <h2 class="alert alert-success">Complete the correct answer</h2>
{{/if}}
<h4>{{{title}}}</h4>
<form>
    {{#if ranking}}
        <div class="form-group">
        {{#each options}} 
            <div class="form-control" id="answer-option-{{@index}}">
                <p class="answer">{{{this}}}</p>
            </div>
        {{/each}} 
        </div>
    {{/if}} 
    {{#if multiple}} 
        {{#each options}} 
        <div class="checkbox">
            <label><input type="checkbox" id="answer-option-{{@index}}" name="answer-option-{{@index}}" value="{{@index}}">{{{this}}}</label>
        </div>
        {{/each}} 
    {{/if}} 
    {{#if single}}
        {{#each options}} 
        <div class="radio">
            <label><input type="radio" name="answer" id="answer-option-{{@index}}" value="{{@index}}">{{{this}}}</label>
        </div>
        {{/each}} 
    {{/if}} 
    {{#if open}}
        <div class="form-group">
            <textarea id="answer-text" class="form-control" rows="10" {{#if preview}}disabled{{/if}}></textarea> 
        </div>
    {{/if}}
    {{#if preview}}
        <hr class="divider">
        <div class="form-group">
          <label for="question-score">Question Score</label>
          <input type="number" name="question-score" id="question-score" class="form-control" min="1" max="50" value="10">
        </div>
    {{/if}}
    {{#unless nosubmit}}
        <button id="answer-btn-submit" class="btn btn-success pull-right">Submit</button>
    {{/unless}}
    {{#if preview}}
        <button id="answer-btn-revert" class="btn btn-primary">Revert</button>
    {{/if}}
</form>
